extends components/template.pug

block content
  main.mainContainer
    .contadores
      +contador("69", "Yapura Astorga")
      +contador("821", "Sonia Saavedra")
      +contador("830", "Francisco Caliva")
      +contador("831", "José Paz")
      +contador("85", "Sebastian Guanco")
